/* overall layout */
.home-wrapper {
    display: flex;
    flex-wrap: row;
    flex-wrap:wrap;
}

.navbar-wrapper {
    width: 100vw;
    height: 7vh;
    background-color: rgb(59, 4, 4);
}


.main-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar-wrapper {
    width: 20vw;
    height: 93vh;
    background-color: rgb(102, 2, 2)
}

.workspace-bar{
    height: 30px;
    display: flex;
    align-items: center;
    padding:10px;
    color: rgb(231, 226, 226);
}


.channel-wrapper {
    width: 80vw;
    height: 93vh;
    background-color: rgb(245, 237, 237);


}

/* Sidebarlayout */
.sidebar-channel-section {
    min-height: 200px;
    border-top: 0.5px solid rgb(151, 107, 107);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(208, 189, 189);
}

/* .sidebar-chat-section {
    min-height: 200px;
    border-top: dashed white;
} */

/* sidebar css */


/* Channel layout */

.channel-header {
    height: 8vh;
    border-top: 0.5px solid rgb(151, 107, 107);
}

.channel-gallery {
    height: 60vh;
    border-top: 0.5px solid rgb(151, 107, 107);
}

.channel-message {
    max-height: 20vh;
    border-top: 0.5px solid rgb(151, 107, 107);
}


.channel-message > .Message {
    height: 50px;
    padding:20px;
}
.message-edit .hidden {
    visibility: hidden;
}

.channel-button {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    background-color: transparent;
    border: none;
    color: rgb(208, 189, 189);
}

button:hover {
    background-color: rgb(151, 107, 107);
    color: white;
    border: none;
}

#create-channel-button {
    background-color: transparent;
}

.message-form {
    height: 20vh;
}

.message-form-content {
    width: 99%;
    height: 90%;
    margin: 5px;
    box-sizing: border-box;
    padding: 4px;
    border: 2px solid rgb(151, 107, 107);
    border-radius: 4px;
    background-color: #f8f8f8;

    resize: none;
}
