/* overall layout */
.home-wrapper {
    display: flex;
    flex-wrap: row;
    flex-wrap:wrap;
}

.navbar-wrapper {
    width: 100vw;
    height: 7vh;
    background-color: rgb(59, 4, 4);
}


.main-wrapper{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar-wrapper {
    width: 20vw;
    height: 93vh;
    background-color: rgb(102, 2, 2)
}

.workspace-bar{
    height: 30px;
    display: flex;
    align-items: center;
    padding:10px;
    color: rgb(231, 226, 226);
}


.channel-wrapper {
    width: 80vw;
    height: 93vh;
    background-color: rgb(245, 237, 237);


}

/* Sidebarlayout */
.sidebar-channel-section {
    min-height: 200px;
    border-top: 0.5px solid rgb(151, 107, 107);
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: rgb(208, 189, 189);
}

/* .sidebar-chat-section {
    min-height: 200px;
    border-top: dashed white;
} */

/* sidebar css */
.create-channel-button > button{
    background-color: rgb(102, 2, 2);
    text-align: left;
}


/* Channel layout */

.channel-header {
    height: 8vh;
    border-top: 0.5px solid rgb(151, 107, 107);
}

.ch-title {
    font-weight: 600;
    font-size: 16px;
}

.ch-desc {
    padding-left: 30px;
    padding-right: 20px;
    font-weight: 100;
    color: rgb(86, 72, 72);
}

.channel-header-wrapper {
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 5px;
}

.channel-gallery {
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 0.5px solid rgb(151, 107, 107);
}

.channel-messages {
    padding-top: 6px;
}
.channel-message {

    height: 20vh;
    border-top: 0.5px solid rgb(151, 107, 107);
}

/* messages */

.message {
    display:flex;
    padding-top:6px;
    padding-bottom: 6px;
    padding-left:10px;
    min-height:  40px;
    width: 80vw;
}

.message .image-wrapper {
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.message img {
    max-height: 40px;
}

.message:hover{
    background-color: rgb(203, 186, 186);
}

.comment-button {
    display: none;
}

.message:hover .comment-button {
    display: flex;
}

.message-header {
    font-weight: 600;
    width:  80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.message-name-date-wrapper {
    display:flex;
    flex-direction: row;
    align-content: flex-start;
}

.message-date {
    font-weight: 100;
    padding-left: 20px;
    font-size: 12px;
}

.message-column {
    padding-left:  10px;
    display:flex;
    width: 70vw;
    flex-wrap: wrap;
}

.message-content {
    overflow-wrap: break-word;
    width: 70vw;

    /* inline-size: 150px; */
}

.message-edit textarea{
    width: 99%;
    height: 100%;
    margin: 5px;
    box-sizing: border-box;
    padding: 4px;
    border: 2px solid rgb(151, 107, 107);
    border-radius: 4px;
    background-color: #f8f8f8;

    resize: none;
}

.message-edit .hidden {
    visibility: hidden;
}


.channel-button {
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: left;
    border-radius: 5px;
    background-color: transparent;
    border: none;
    color: rgb(208, 189, 189);
}

.sidebar-channel-section button:hover {
    background-color: rgb(151, 107, 107);
    color: white;
    border: none;
}
.create-channel-button {
    width: 100%;
}
.create-channel-button button{
    background-color: transparent;
    border: none;
    border-radius: 5px;
    color: rgb(208, 189, 189);
    font-weight: 100;
    width: 100%;
}
/* .create-channel-button button:hover{
    background-color: rgb(151, 107, 107);
    color: white;
    border: none;
} */

.create-channel-button button{
    background-color: transparent;
    border: none;
}
.message-form {
    height: 20vh;
}

.message-form-content {
    width: 99%;
    height: 90%;
    margin: 5px;
    box-sizing: border-box;
    padding: 4px;
    border: 2px solid rgb(151, 107, 107);
    border-radius: 4px;
    background-color: #f8f8f8;

    resize: none;
}

/* defaulthome stuff */
.dh-topbar {
    width: 100%;
    height: 5vh;
    background-color: rgb(60, 8, 8);
    color: lightgrey;
    font-size: 12px;
    display:flex;

}
.dh-main-wrapper {
    display: flex;
    flex-direction: row;
    width:100%;
    height: 95vh;
    background-color: rgb(88, 20, 20);
}

.dh-main {
    width: 40vw;
    padding-top: 20vh;
    padding-left: 10vw;
    color: white;
    font-size: 30px;
    font-weight: bold;
    display:flex;
    flex-direction: column;
}

.dh-main > div {
    padding-bottom: 30px;
}

.dh-main button {
    background-color:  rgb(194, 154, 154);
    border-radius: 5px;
    border-color: rgb(59, 36, 36);
    border-style: solid;
    border-width: 1px;
    color:white;
    font-weight:600;
    width: 200px;
    height: 40px;
}
.dh-main button:hover {
    background-color: rgb(206, 173, 173);
    color: white;
}

.dh-main-image {
    width: 60vw;
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(245, 237, 237);


  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #674b4b;
    border-radius: 5px;

  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3c0c0c;
  }
